@{
    Layout = "~/Views/Shared/LayoutConnection.cshtml";
}
@model WEB.Models.Connection.ConnectionModel

@{
    ViewBag.Title = "Connection";
}
@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function () {
        $(".radio_option").change(function () {
            if ($('#newDb').prop("checked")) {
                $('#hideNew').fadeIn(300);
            }
            else {
                $('#hideNew').fadeOut(300);
            }
        });
    });

    $(document).ready(function () {
        $(".form-check").change(function () {
            if ($('#IntegratedSecurity').prop("checked")) {
                $('#hideAuth').fadeOut(300);
            }
            else {
                $('#hideAuth').fadeIn(300);
            }
        });
    });
</script>
<style>
    .custom-file-label::after {
        content: "Открыть";
    }
</style>

<h2>Подключение к базе данных</h2>

@using (Html.BeginForm("ConnectionStartPage", "Connection", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-10" style="padding-left:0px; padding-right:0px" for="DataSource">Сетевой адрес сервера</label>
            <div class="col-md-10" style="padding-left:0px; padding-right:0px">
                <input class="form-control text-box single-line" id="DataSource" name="DataSource" type="text" value=""
                       rel="txtTooltip" title="Например: 192.168.1.1 или если сервер находится локально: (localdb)\mssqllocaldb" data-toggle="tooltip" data-placement="bottom">
                <span class="field-validation-valid text-danger" data-valmsg-for="DataSource" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" style="padding-left:0px; padding-right:0px" for="InitialCatalog">Имя базы данных</label>
            <div class="col-md-10" style="padding-left:0px; padding-right:0px">
                @Html.EditorFor(model => model.InitialCatalog, new { htmlAttributes = new { @class = "form-control",
           @rel = "txtTooltip", @title = "Например: LaborProtection"} })
                @Html.ValidationMessageFor(model => model.InitialCatalog, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="hideNew" style="display:none">
            <div class="form-group">
                <label class="control-label col-md-2" style="padding-left:0px; padding-right:0px" for="AttachDBFilename">Расположение и имя файла базы данных</label>
                <div class="col-md-10" style="padding-left:0px; padding-right:0px">
                    @Html.EditorFor(model => model.AttachDBFilename, new { htmlAttributes = new { @class = "form-control",
                        @rel = "txtTooltip", @title = "Например: \"e:\\LaborProtection.mdf\". Если база данных отсутствует, то в указанном месте будет создана новая база" } })
                    @Html.ValidationMessageFor(model => model.AttachDBFilename, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10" style="padding-left:0px; padding-right:0px">
                <div class="form-check">
                    <input class="form-check-input check-box" checked="checked" data-val="true" data-val-required="Требуется поле IntegratedSecurity." id="IntegratedSecurity" name="IntegratedSecurity" type="checkbox" value="true"><input name="IntegratedSecurity" type="hidden" value="false">
                    <label class="form-check-label" for="IntegratedSecurity">Аутентификация учетных данных по учетной записи Windows</label>
                    <span class="field-validation-valid text-danger" data-valmsg-for="IntegratedSecurity" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>

        <div id="hideAuth" style="display:none">
            <div class="form-group">
                <label class="control-label col-md-2" style="padding-left:0px; padding-right:0px" for="User">Пользователь</label>
                <div class="col-5" style="padding-left:0px; padding-right:0px">
                    @Html.EditorFor(model => model.User, new { htmlAttributes = new { @class = "form-control text-box single-line col-5", @id = "User", @name = "User", @type = "text", @value = "none",
                   @rel = "txtTooltip", @title = "Используется если необходимо зайти на сервер под конкретным пользователем, зарегистрированным на самом сервере" } })
                    <span class="field-validation-valid text-danger" data-valmsg-for="User" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" style="padding-left:0px; padding-right:0px" for="Password">Пароль</label>
                <div class="col-5" style="padding-left:0px; padding-right:0px">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control text-box single-line col-5", @id = "Password", @name = "Password", @type = "password", @value = "none",
                   @rel = "txtTooltip",@title = "Используется если необходимо зайти на сервер под конкретным пользователем, зарегистрированным на самом сервере" } })
                    <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>

        <div class="form-reg">
            <label>
                <input class="radio_option" type="radio" name="typeDb" id="existDb" value="exist" checked="checked" style="margin: 0 auto">&nbsp;К существующей на сервере базе
            </label>
            <label>
                <input class="radio_option" type="radio" name="typeDb" id="newDb" value="new" style="margin-left: 10px;">&nbsp;Указать файл базы или создать новую базу
            </label>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="padding-left:0px">
                <input type="submit" value="Подключить" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


