<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Labor Protection</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <style>
            .navbar {
                height: 44px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" style="color:yellow"><img src="~/Content/Images/hard_hat.png" alt="" height="40"/>Охрана труда</a>
                <div class="collapse navbar-collapse" id="navbar1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="@Url.Content("~/Home/Index")">Главная<span class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Content("~/Home/About")">О программе</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Content("~/Home/Contact")">Контакты</a></li>
                    </ul>
                    <ul class="navbar-nav justify-content-end"></ul>

                    <form class="form-inline my-2 my-lg-0">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a class="btn btn-primary" href="@Url.Content("~/Account/Login")" role="button">Вход</a>
                        }
                        else
                        {
                            <span class="navbar-text">Пользователь: @User.Identity.Name</span>
                            <a class="btn btn-primary" href="@Url.Content("~/Account/Logout")" role="button">Выход</a>
                        }
                    </form>
                </div>
        </nav>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Labor Protection Application</p>
            </footer>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>
